.about {
    display: flex;
    flex-direction: column;
}

.introduction {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-align-last: left;
    margin-left: 2%;
}