.education {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.education-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #EEFBFB;
    border-radius: 10px;
    width: 55%;
    color: black;
    margin-top: 20px;
}

.university-header {
    background: #203647;
    color: white;
    font-size: x-large;
    padding: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.university-body {
    font-size: larger;
    text-align: left;
    padding-left: 2%;
    font-weight: 500;
}

.university-footer {
    font-style: italic;
    font-size: medium;
    text-align: left;
    padding-left: 2%;
}


@media screen and (max-width: 1100px) {
    .education-card {
        width: 94%;
    }

    .university-header {
        text-align: left;
        text-align-last: left;
        font-size: large;
    }

    .university-header-text {
        padding-left: 2%;
    }

    .university-body {
        font-size: medium;
    }

    .university-footer { 
        text-align-last: left;
        text-align: left;
        font-size: medium;
    }
}