.projects-heading {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #EEFBFB;  
    width: 30%;
    color: black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.project-body {
    text-align: left;
    text-align-last: left;
    padding-left: 10px;
    padding: 10px;
}

.project-header {
    background: #007CC7;
    color: white;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.project-description {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.project-link {
    padding: 10px;
}

.project-link > a > img {
    width: 30px;
}

.project-footer {
    margin-top: auto;
    text-align: left;
    padding-left: 3%;
}

/*Reference W3 Schools https://www.w3schools.com/howto/howto_css_pill_button.asp*/
.tech-pill {
    background-color: #203647;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


@media screen and (max-width: 900px) {
    .project {
        padding-left: 2%;
    }
    .project-card {
        width: 88%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}