.about {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
}

.about > img {
    width: 20%;
    margin-left: 10%;
    box-shadow: 2px 2px 2px 2px gray;
}

.introduction {
    color: black;
    font-size: xx-large;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    text-align: left;
    text-align-last: left;
    margin-left: 2%;
    margin-top: 5%;
}

.biryani {
    font-weight: bold;    
}


@media screen and (max-width: 900px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .about > img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction {
        text-align: center;
        text-align-last: center;
        line-height: 25pt;
        font-size: medium;
    }
}

@media screen and (max-width: 1100px) and (min-width: 950px) {
    .about > img {
        width: 30%;
    }
}