.bar {
    text-align: center;
    background-color: #12232E;
    width: 100%;
}

.left {
    background-color: #12232E;
    color: white;
}
    
.page {
    background-color: white;
    color: white;
}


@media screen and (max-width: 900px) {
    .bar {
        width: 100%;
    }

    .bar {
        width: 100%;
        height: 100%;
    }
}

/**
#12232E
#007CC7
#4DA8DA
#203647
#EEFBFB
*/