.column {
    float: left;
    text-align: center;
}

.left {
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 22%;
    overflow: auto;
    flex: 1;
    background-color: #12232E;
    color: white;
}
    
.right {
    float: right;
    left: 30%;    
    width: 78%;
    min-height: 100vh;
    height: 100%;
    background-color: lightgray;
    color: white;
}


@media screen and (max-width: 900px) {
    .left {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .right {
        width: 100%;
        height: 100%;
    }
}

/**
#12232E
#007CC7
#4DA8DA
#203647
#EEFBFB
*/